/* Charset */
@charset 'UTF-8';

/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap");

/* CSS Variables */
:root {
  --background-color: #fdfdfd;
  --main-color: #f18f01;
  --text-color: black;
  --hover-text-color: white;
  --dull-text-color: #555;
  --dark-grey: #222;
  --shadow-color: rgba(241, 143, 1, 0.5);
  --transparent: transparent;
  --background-gradient: linear-gradient(rgb(0, 0, 0, 0.1), var(--main-color));
}

.dark_mode {
  --background-color: #1e1e1e;
  --text-color: white;
  --dull-text-color: #999;
  --shadow-color: rgba(241, 143, 1, 0.6);
  --hover-text-color: black;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.45rem;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
  margin-block: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  opacity: 0.5;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: all 0.1s ease-in-out;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Page CSS */
html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* Pre loader */
.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
  width: 40px;
  height: 50px;
}

.left {
  background: var(--main-color);
  animation: animate 1s linear infinite;
  margin: 10px;
}

.center {
  background: var(--dark-grey);
  animation: animate 1s linear infinite 0.3s;
  margin: 10px;
}

.right {
  background: #66656b;
  animation: animate 1s linear infinite 0.6s;
  margin: 10px;
}

@keyframes animate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 2.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

section {
  padding: 8rem 7% 0 7%;
  min-height: 100vh;
}

/* For Loom Companion */
#shadow-host-companion {
  padding: 0;
  height: 0;
  margin: 0;
  display: none !important;
}

.sectionHeader {
  width: 100%;
}

.sectionHeader h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  /* Section code to make text have a gradient */
  /* background: linear-gradient(90deg, #016738, var(--main-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.headerSpan {
  color: var(--main-color);
}

.symbol,
.emphasis {
  color: var(--main-color);
  font-weight: 600;
}

.typed-cursor {
  display: none;
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.sticky {
  background-color: var(--background-color);
  box-shadow: 0.1rem 0.1rem 1rem var(--shadow-color);
}

.logo {
  font-family: "Love Ya Like A Sister", sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: auto;
}

.logo:hover {
  transform: scale(1.05);
  color: var(--main-color);
}

.navigation {
  display: flex;
}

.navigation li {
  position: relative;
  margin: 0.5rem 1rem;
  padding: 0.2rem;
  transition: transform 0.4s ease-in-out;
}

.navigation li a {
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation li:hover a,
.navigation li a.active {
  color: var(--hover-text-color);
}

.navigation li:hover {
  transform: translateY(-2px);
}

.navigation li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--hover-text-color);
  opacity: 0.8;
}

.header.sticky .navigation li a {
  color: var(--text-color);
}

.header.sticky .navigation li a.active {
  color: var(--main-color);
}

.header.sticky .navigation li a.active::after {
  background-color: var(--main-color);
}

/* Theme Switcher & Hamburger */
.theme-switcher {
  margin: 0 1rem;
}

.theme-switcher i,
.hamburger i {
  font-size: 2rem;
  color: var(--hover-text-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.hamburger i {
  display: none;
}

.header.sticky .theme-switcher i,
.header.sticky .hamburger i {
  color: var(--main-color);
}

.theme-switcher i:hover,
.hamburger i:hover {
  transform: scale(0.9);
}

/* Home Section */
#home {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  min-height: 100vh;
}

.home-content {
  max-width: 45%;
}

.typewriter {
  font-size: 5rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-family: "Love Ya Like A Sister", sans-serif;
  color: var(--main-color);
}

.lname {
  margin-top: -2.5%;
}

.bio {
  font-size: 1.2rem;
  margin-right: 15rem;
  color: var(--text-color);
}

/* Socials Section */
.socials {
  display: flex;
  align-items: center;
}

.socials .bx {
  font-size: 2.5rem;
  color: var(--main-color);
  margin: 1.5rem 0.5rem;
  --fa-beat-fade-opacity: 0.5;
  --fa-beat-fade-scale: 1.05;
  --fa-animation-duration: 2s;
}

.socials .bx:hover {
  transform: scale(1.1);
  --fa-beat-fade-opacity: 1;
  --fa-beat-fade-scale: 1;
  --fa-animation-duration: 0;
  transition: all 0.3s ease-in-out;
}

.socials a {
  position: relative;
  overflow: visible;
}

.socials a::before {
  display: none;
  position: absolute;
  top: -18%;
  left: -18%;
  z-index: 10;
  content: "";
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color);
}

.socials a::after {
  content: "";
  display: none;
  position: absolute;
  top: 15%;
  left: 34%;
  transition: all 0.3s ease-in-out;
  border-top: 8px solid var(--main-color);
  border-left: 8px solid var(--transparent);
  border-right: 8px solid var(--transparent);
  border-bottom: 8px solid var(--transparent);
}

.socials a:nth-child(1)::before {
  left: -10%;
  content: "GitHub";
}

.socials a:nth-child(2)::before {
  content: "Twitter";
  left: -10%;
}

.socials a:nth-child(3)::before {
  content: "Facebook";
  left: -20%;
}

.socials a:nth-child(4)::before {
  content: "LinkedIn";
}

.socials a:nth-child(5)::before {
  content: "Instagram";
  left: -30%;
}

.socials a:nth-child(3)::after {
  left: 40%;
}

.socials a:hover::before,
.socials a:hover::after {
  display: block;
}

/* CV Section */
.cv {
  display: flex;
}

.cv-download {
  position: relative;
  border: 1px solid var(--main-color);
  border-radius: 1rem 0 1rem 0;
  background-color: transparent;
  text-transform: uppercase;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.cv-download a {
  color: var(--text-color);
  letter-spacing: 1px;
}

.cv-download::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f18f01;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.cv-download:hover a {
  color: var(--hover-text-color);
}

.cv-download:hover::before {
  width: 100%;
}

/* Profesional Skills Section */
.professional-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.headerImg {
  position: absolute;
  z-index: 9;
  right: 10%;
  top: 10%;
  height: 85vh;
}

.headerImg img {
  width: 100%;
  height: 100%;
}

.skills {
  width: 80vh;
  height: 80vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: skills-rotate 15s infinite ease-in-out;
}

@keyframes skills-rotate {

  0%,
  20% {
    transform: rotate(0deg);
  }

  25%,
  45% {
    transform: rotate(-90deg);
  }

  50%,
  70% {
    transform: rotate(-180deg);
  }

  75%,
  95% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.skill {
  position: absolute;
  left: -5%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  transform: rotate(calc(360deg / 4 * var(--index)));
  transform-origin: 45vh;
  text-align: center;
  background-color: var(--background-color);
}

.skill i {
  font-size: 2rem;
  text-align: center;
  color: var(--main-color);
}

/* Programmer */
/* Full Stack Developer */
.skills .skill i {
  margin-right: 20px;
}

.skill h3 {
  text-transform: uppercase;
  padding: 1rem 0;
  background-color: var(--transparent);
  font-size: 2rem;
}

.circle {
  width: 75vh;
  height: 75vh;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 50vh solid var(--main-color);
  border-right: 50vh solid var(--main-color);
  border-bottom: 50vh solid var(--main-color);
  border-left: 50vh solid var(--transparent);
}

/* About Section */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  max-width: 400px;
  max-height: 600px;
  border-radius: 30%;
  padding: 3rem 0.5rem;
}

.about-content {
  flex: 1;
  padding: 0rem 8%;
}

.about-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.about-content p {
  cursor: pointer;
  margin: 2rem auto;
  text-align: justify;
  text-justify: inter-word;
}

.about-content p:hover {
  transform: scale(1.01) translateY(-1px);
  transition: transform 0.4s ease-in-out;
}

/* Service Section */
#servies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem 0;
  padding: 3rem 0;
}

.service {
  flex: 1;
  border: 1.5px solid var(--main-color);
  border-radius: 1rem;
  padding: 2rem 1rem;
  margin: 1rem;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.service:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px var(--shadow-color);
  transform: scale(1.05);
}

.service i {
  font-size: 2.5rem;
  color: var(--main-color);
}

.service-title {
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.service:hover .service-title {
  color: var(--main-color);
}

.service-details {
  font-size: 1rem;
  padding: 1rem 0.5rem;
}

.technologies i {
  color: var(--text-color);
  padding: 1rem;
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}

.service:hover .technologies i {
  color: var(--main-color);
  padding: 0.8rem;
  font-size: 2.8rem;
}

/* Portfolio Section */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
  margin: 2rem 1rem;
}

.portfolio-project {
  height: 250px;
  position: relative;
  cursor: default;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  background-color: #222;
}

.portfolio-project:hover {
  box-shadow: 2px 2px 3rem var(--shadow-color);
}

.project-overlay {
  display: none;
}

.portfolio-project:hover .project-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  color: white;
  transition: all 0.5s ease-in-out;
}

.portfolio-project img {
  width: 100%;
  height: 100%;
}

.portfolio-project:hover img {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  opacity: 0.2;
}

.project-overlay h4 {
  padding: 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.project-overlay p {
  padding: 0.5rem;
}

.external-link a {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.external-link i {
  color: var(--main-color);
}

/* Contact Section */
#contact {
  position: relative;
  min-height: 100vh;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.input-names {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

label {
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

input,
textarea {
  padding: 0.4rem 0.7rem;
  font-size: 0.95rem;
  color: var(--main-color);
  border: none;
  border-bottom: 1px solid var(--text-color);
  transition: all 0.4s ease-in-out;
  background-color: var(--transparent);
}

input:focus,
textarea:focus {
  transform: translateY(-2px);
  border: none;
  border-bottom: 2px solid var(--main-color);
  background-color: var(--transparent);
  box-shadow: 1px 1px 1rem var(--shadow-color);
}

textarea {
  height: 80px;
}

input::placeholder,
textarea::placeholder {
  color: var(--main-color);
  font-size: 0.9rem;
}

.submit_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form_submit_btn {
  position: relative;
  border: 1px solid var(--main-color);
  background-color: transparent;
  text-transform: uppercase;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  color: var(--black);
  letter-spacing: 1px;
}

#form_submit_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f18f01;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

#form_submit_btn:hover {
  color: var(--hover-text-color);
}

#form_submit_btn:hover::before {
  width: 100%;
}

/* Footer Section */
footer {
  position: sticky;
  top: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 15px 15px 0 0;
}

.footer-container {
  padding: 0.8rem 10%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.copyright a,
.copyright i {
  color: var(--background-color);
  padding: 0 0.5rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.copyright a:hover,
.copyright i:hover {
  transform: translateY(-2px);
}

.to-top i {
  font-size: 2.5rem;
  color: var(--background-color);
}

/* --- RESPONSIVENESS --- */
/* Header Spin*/
@media all and (min-width: 1700px) {
  .home-content {
    max-width: 60%;
  }

  .header {
    padding: 1rem 10%;
  }

  section {
    padding: 8rem 13% 0 13%;
  }

  .overlay {
    top: 0;
    right: 0;
  }

  .skills {
    top: 6%;
    right: 5%;
  }
}

@media all and (max-width: 1455px) {

  /* Home */
  .home-content {
    max-width: 50%;
  }

  .name {
    font-size: 3.5rem;
  }

  /* Professional */
  .professional-content {
    right: -15%;
  }

  .headerImg {
    right: -3%;
    top: 15%;
  }

  .headerImg img {
    width: 400px;
    height: 600px;
  }

  /* Services */
  .service-details {
    padding: 1rem 0.3rem;
  }

  .service-details {
    font-size: 1rem;
    padding: 1rem 0.3rem;
  }

  .technologies i {
    padding: 0.9rem;
    font-size: 2.5rem;
  }

  .service:hover .technologies i {
    color: var(--main-color);
    padding: 1rem;
    font-size: 2.8rem;
  }

  /* Portfolio */
  .portfolio-project {
    height: 200px;
  }
}

/* Extra Large Screens */
@media all and (max-width: 1200px) {

  /* Common */
  section {
    padding: 6rem 6% 0 6%;
  }

  /* Header */
  .header {
    padding: 1rem 8%;
  }

  .navigation li {
    margin: 0.5rem 0.8rem;
    padding: 0.1rem;
  }

  /* Home */
  .name {
    font-size: 4.5rem;
  }

  /* Feature */
  .professional-content {
    right: -5%;
  }

  .skill i {
    font-size: 2rem;
  }

  .overlay,
  .skills {
    right: -33%;
  }

  .skill h3 {
    font-size: 1.4rem;
  }

  /* About */
  .about-content {
    padding: 0rem 5%;
  }

  .about-content h3 {
    font-size: 1.8rem;
  }

  .about-content p {
    margin: 1.5rem 0;
  }

  /* Services */
  .services-content {
    gap: 2rem 0;
    padding: 1rem 0;
  }

  .service-title {
    font-size: 2rem;
  }

  .technologies i {
    font-size: 2, 3rem;
  }

  .service:hover .technologies i {
    color: var(--main-color);
    padding: 1rem;
    font-size: 3rem;
  }

  /* Portfolio */
  .portfolio-content {
    gap: 0.9rem;
    margin: 1.5rem 0.8rem;
  }

  .portfolio-project:hover {
    box-shadow: 1px 1px 2rem var(--shadow-color);
  }

  .portfolio-project:hover .project-overlay {
    padding: 0.7rem 1rem;
  }

  .project-overlay h4 {
    padding: 0.8rem 0;
    font-size: 1.5rem;
  }

  .project-overlay p {
    padding: 0.3rem;
    font-size: 0.9rem;
  }

  .external-link a {
    height: 35px;
    width: 35px;
    padding: 0.4rem;
  }

  /* Contact */
  .input-names {
    gap: 0rem;
  }

  textarea {
    height: 150px;
  }

  .map {
    width: auto;
    height: 450px;
  }
}

/* Large Screens */
@media all and (max-width: 992px) {

  /* Common */
  section {
    padding: 7rem 4% 0 4%;
  }

  .sectionHeader h2 {
    font-size: 2.5rem;
  }

  /* Header */
  .header {
    padding: 0.8rem 6%;
  }

  .logo {
    font-size: 2.5rem;
  }

  .navigation li {
    margin: 0.4rem 0.5rem;
    padding: 0;
  }

  .navigation li a {
    font-size: 0.9rem;
    letter-spacing: 0;
  }

  .theme-switcher i {
    font-size: 1.5rem;
  }

  /* Home */
  .name {
    font-size: 4rem;
  }

  .bio {
    font-size: 1rem;
    margin-right: 3rem;
  }

  .socials .bx {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .cv-download {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  /* Feature */
  .professional-content {
    right: -15%;
  }

  .headerImg {
    display: none;
  }

  .skill i {
    font-size: 2rem;
  }

  .overlay {
    border-top: 50vh solid var(--main-color);
    border-bottom: 50vh solid var(--main-color);
    border-left: 50vh solid var(--transparent);
  }

  .overlay,
  .skills {
    right: -65%;
  }

  .skill h3 {
    font-size: 1.4rem;
  }

  /* About */
  .about-content h3 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .about-content p {
    margin: 1rem 0;
  }

  /* Services */
  .service-title {
    font-size: 1.5rem;
  }

  .service-details {
    font-size: 0.9rem;
    padding: 0.7rem 0.3rem;
  }

  .technologies i {
    padding: 0.25rem;
    font-size: 2.2rem;
  }

  .service:hover .technologies i {
    padding: 0.3rem;
    font-size: 2.3rem;
  }

  /* Portfolio */
  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  /* Contact */
  .contact-content {
    margin-top: 2rem;
  }

  .contact-form {
    width: 60%;
  }

  .input-names {
    width: 100%;
    flex-direction: column;
    gap: 0;
    padding: 0.2rem;
    margin: 0.2rem;
  }

  .input-box {
    width: 100%;
    margin: 0.2rem 0.3rem;
    padding: 0.2rem;
  }

  textarea {
    height: 60px;
  }

  /* Footer */
  .copyright,
  .copyright i,
  .copyright a {
    font-size: 0.9rem;
  }

  .to-top i {
    font-size: 3rem;
  }
}

/* Medium Screens */
@media all and (max-width: 768px) {

  /* Header */
  .theme-switcher i,
  .hamburger i {
    color: var(--main-color);
  }

  .hamburger i {
    display: flex;
    transform: translateY(-3px);
  }

  .navigation {
    display: none;
  }

  .show {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: 2px 2px 1rem var(--shadow-color);
  }

  .navigation li:hover a,
  .navigation li a.active {
    color: var(--main-color);
  }

  .navigation li a.active::after {
    display: none;
  }

  /* Home */
  #home {
    justify-content: center;
    align-items: center;
  }

  .home-content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-content h4 {
    font-size: 1.5rem;
  }

  .name,
  .bio,
  .home-content h4 {
    text-align: center;
  }

  .bio {
    font-size: 0.9rem;
    margin-right: 0;
  }

  /* Professional */
  .professional-content {
    display: none;
  }

  /* About */
  .about-container {
    flex-direction: column;
  }

  .about-image img {
    width: 250px;
    height: 450px;
  }

  .about-content p {
    font-size: 0.8rem;
  }

  /* Services */
  .service-title {
    font-size: 1.4rem;
  }

  .service-details {
    padding: 1rem 0.3rem;
    font-size: 0.9rem;
  }

  /* Portfolio */
  .portfolio-project {
    height: 200px;
  }

  /* Footer */
  .footer-container {
    padding: 0.7rem 6%;
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }
}

@media all and (max-width: 650px) {

  /* CV */
  .cv {
    flex-direction: column;
  }

  /* About */
  .about-content h3 {
    text-align: center;
  }

  .about-image img {
    width: 260px;
    height: 450px;
  }
}

/* Small Screens */
@media all and (max-width: 600px) {

  /* Home */
  .home-content {
    font-size: 1rem;
  }

  /* About */
  .about-container {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content h3 {
    text-align: center;
  }

  .about-content p {
    text-align: center;
  }

  /* Services */
  .services-content {
    flex-direction: column;
  }

  .service {
    height: 100%;
    padding: 2rem 1rem;
  }

  .service-title {
    font-size: 1.7rem;
  }

  .service-details {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .technologies i {
    padding: 1rem 1.5rem;
    font-size: 2.7rem;
    color: var(--main-color);
  }

  .service:hover .technologies i {
    padding: 1rem;
  }

  /* Portfolio */
  .portfolio-project {
    height: 200px;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  .project-overlay h4 {
    font-size: 1.5rem;
  }

  .project-overlay p {
    font-size: 0.9rem;
  }

  /* Contact */
  .contact-form {
    width: 80%;
  }

  /* Footer */
  .footer-container {
    gap: 1rem;
  }

  .copyright,
  .copyright a,
  .copyright i {
    font-size: 0.8rem;
  }

  .to-top i {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 428px) {

  /* Home */
  .home-content {
    font-size: 0.6rem;
  }

  .typewriter {
    font-size: 3rem;
  }

  /* Common */
  .sectionHeader h2 {
    font-size: 2rem;
  }

  /* Services */
  .service-title {
    font-size: 1.5rem;
  }

  .technologies i {
    padding: 1rem;
    font-size: 2rem;
  }

  /* Portfolio */
  .project-overlay h4 {
    font-size: 1.4rem;
  }

  /* Footer */
  .footer-container {
    gap: 0.5rem;
  }
}

@media all and (max-width: 300px) {

  /* Common */
  html {
    font-size: 85%;
  }

  .sectionHeader h2 {
    font-size: 1.5rem;
  }

  /* Header */
  .logo {
    font-size: 2rem;
  }

  /* Home */
  .home-content {
    max-width: 100%;
  }

  .name {
    font-size: 3.5rem;
  }

  .home-content h4 {
    font-size: 1rem;
  }

  /* About */
  .about-image img {
    width: 200px;
    height: 300px;
  }

  /* Services */
  .service-title {
    font-size: 1.3rem;
  }

  .technologies i {
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
  }

  /* Portfolio */
  .portfolio-project {
    height: 180px;
  }

  .project-overlay h4 {
    font-size: 1.2rem;
    padding: 0.6rem 0.2rem;
  }

  /* Footer */
  .footer-container {
    gap: 0.1rem;
  }
}